<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AvanteamMarketplace.LocalInstaller.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
		  <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
          <!-- Configuration du timeout ASP.NET Core -->
          <environmentVariable name="ASPNETCORE_REQUEST_TIMEOUT" value="3600" />
          <environmentVariable name="ASPNETCORE_SHUTDOWNTIMEOUTSECONDS" value="3600" />
        </environmentVariables>
      </aspNetCore>
	  
    </system.webServer>
  </location>
   <!-- Configurations de timeout pour ASP.NET Core -->
  <appSettings>
    <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />
  </appSettings>
</configuration>



