@page
@model AvanteamMarketplace.API.Pages.Admin.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/admin" />
    <title>Déconnexion...</title>
</head>
<body>
    <p>Déconnexion en cours...</p>
</body>
</html>