<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- URL de l'API centrale du marketplace -->
    <add key="MarketplaceApiUrl" value="https://marketplace-dev.avanteam-online.com/api/marketplace" />
    
    <!-- Clé d'API pour l'authentification (laisser vide pour générer automatiquement) -->
    <add key="MarketplaceApiKey" value="" />
    
    <!-- Version de Process Studio (utilisée si la détection automatique échoue) -->
    <add key="ProcessStudioVersion" value="23.10.0" />
    
    <!-- Mode de développement (true/false) -->
    <add key="MarketplaceDevMode" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>