@page "/"
@model AvanteamMarketplace.API.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/admin/login" />
    <title>Avanteam Marketplace API</title>
</head>
<body>
    <p>Redirection vers l'administration du Marketplace...</p>
</body>
</html>