<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
  <add name="Avanteam.Settings.APSApplication"
  	connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=avt2016sp1app;Persist Security Info=True;User ID=avanteam;Password=**********"
  	providerName="System.Data.SqlClient"/>
  <add name="Avanteam.Application.Log.Properties.Settings.pstudioConnectionString"
  	connectionString="Data Source=RIVOLI;Initial Catalog=pstudio;Persist Security Info=True;User ID=DevDB;Password=**********" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.8" version="v4.0"/>
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.DataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
				type="Avanteam.Kernel.Data.OracleClient.OracleBindByNameProviderFactory, Avanteam.Kernel.Data"/>
		</DbProviderFactories>
	</system.data>
</configuration>