<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add connectionString="Data Source=localhost\SQL2K8;Initial Catalog=PCM_PREVIEW_APP;Persist Security Info=True;User ID=Avanteam;Password=**********"
            name="Avanteam.Settings.APSWorkflow" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime sku=".NETFramework,Version=v4.8" version="v4.0"/>
    </startup>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.DataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Avanteam.Kernel.Data.OracleClient.OracleBindByNameProviderFactory, Avanteam.Kernel.Data"/>
        </DbProviderFactories>
    </system.data>
</configuration>